@model IEnumerable<MusicStore.Domain.DataTransfer.Song>

@{
    ViewBag.Title = "Buy songs";
}
<div>
    <table class="table">
        @if (ViewBag.Exception != null || ViewBag.Exeption != "")
        {
            @ViewBag.Exception;
        }

        @foreach (var item in ViewBag.AvailableMusicList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <form method="post" action="~/MusicStore/BuyMusic">
                        <input type="hidden" value="@item.Id" name="songId" />
                        <input type="hidden" value="@ViewBag.userId" name="userId" />
                        <input type="submit" value="Buy song" />
                    </form>
                </td>
            </tr>
        }

    </table>    
</div>
