@model IEnumerable<MusicStore.Domain.Models.SongDTO>

@{
    ViewBag.Title = "Buy songs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAvalableMusicForLoggedUser</title>
</head>
<body>
    <table class="table">
        @if(ViewBag.Exception != null || ViewBag.Exeption != "")
        {
            @ViewBag.Exception;
        }
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in ViewBag.AvailableMusicList) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <form method="post" action="~/MusicStore/BuyMusic">
                    <input type="hidden" value="@item.Id" name="songId" />
                    <input type="hidden" value="@ViewBag.userId" name="userId" />
                    <input type="submit" value="Купить книгу" />
                </form>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
