@model IEnumerable<MusicStore.Domain.DataTransfer.Song>

@{
    ViewBag.Title = "DisplaySongsOfAlbum";
}

<h2>DisplaySongsOfAlbum</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated && ViewBag.Role == "Registered user")
            {
            @Html.ActionLink("Buy", "DisplayPaginatedAlbums", "MusicStore")
            }
        </td>
    </tr>
}

</table>
