@model MusicStore.DataAccess.Realization.IndexViewItem<MusicStore.Domain.DataTransfer.Album>
@using MusicStore.Web.Helpers
@{
    ViewBag.Title = "Все альбомы";
}
<div>
    <table class="table">
        <tr>
            <td>Название альбома</td>
            <td>Скидка при покупке всех песен</td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DiscountIfBuyAllSongs</td>
                <td>
                    <form method="post" action="~/MusicStore/DisplaySongsOfAlbum">
                        <input type="hidden" value="@item.Id" name="albumId" />
                        <input type="submit" value="Display songs" />
                    </form>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <form method="post" action="~/MusicStore/BuyWholeAlbum">
                            <input type="hidden" value="@item.Id" name="albumId" />
                            <input type="hidden" value="@item.DiscountIfBuyAllSongs" name="discount" />
                            <input type="submit" value="Buy whole album with discount @item.DiscountIfBuyAllSongs" />
                        </form>
                    </td>
                }
            </tr>
        }

    </table>
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("DisplayPaginatedAlbums", new { page = x, pageSize = 10 }))
</div>
