@model IEnumerable<MusicStore.Domain.DataTransfer.UserAccount>

@{
    ViewBag.Title = "DisplayActiveUsers";
}

<h2>Display All Users</h2>
<div class="row">
    <div class="col-lg-3">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>

    <div class="col-lg-3">
        @Html.DisplayNameFor(model => model.LastName)
    </div>

    <div class="col-lg-2">
        @Html.DisplayNameFor(model => model.Money)
    </div>
    <div class="col-lg-1">
        @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="col-lg-3">
        Submit
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        using (Html.BeginForm("EditUserAccount", "Admin"))
        {
            using (Html.BeginForm("EditUserAccount", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(modelItem => item.Id, new { Name = "Id" })

                <div class="col-lg-3">
                    @Html.EditorFor(modelItem => item.FirstName, " ", "FirstName")
                </div>

                <div class="col-lg-3">
                    @Html.EditorFor(modelItem => item.LastName, " ", "LastName")
                </div>

                <div class="col-lg-2">
                    @Html.EditorFor(modelItem => item.Money, " ", "Money")
                </div>
                <div class="col-lg-1">
                    @Html.CheckBox("IsActive", item.IsActive)
                </div>
                <div class="col-lg-3">
                    <input type="submit" value="Change" />
                </div>

            }
        }
    }
</div>
