@model MusicStore.Web.Models.AdminStatisticViewModel

@{
    ViewBag.Title = "DisplayAdminStatistic";
}

<h2>Display Admin Statistic</h2>

<div>
    <h4>Statistic for admin</h4>
    <div class="row">
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.TotalMoneyEarnedForDay)
        </div>

        <div class="col-lg-6">
            @Html.DisplayFor(model => model.TotalMoneyEarnedForDay)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.TotalMoneyEarnedForMonth)
        </div>

        <div class="col-lg-6">
            @Html.DisplayFor(model => model.TotalMoneyEarnedForMonth)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.NumberOfSoldSongsForMonth)
        </div>

        <div class="col-lg-6">
            @Html.DisplayFor(model => model.NumberOfSoldSongsForMonth)
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @Html.DisplayNameFor(model => model.NumberOfSoldSongsForDay)
        </div>

        <div class="col-lg-6">
            @Html.DisplayFor(model => model.NumberOfSoldSongsForDay)
        </div>
    </div>
</div>
